
.app-container {
  display: flex;
  flex-direction: column;
  min-width: 1024px;
  min-height: 100vh;
}

.custom-navbar {
  background-color: #242424 !important;
  padding: 1rem 2rem;
}

.main-content {
  padding: 2rem;
  flex-grow: 1;
}

.products-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 2rem;
  padding: 2rem 0;
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}